html
{
    background-image: url("bg/skull_kid.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

body
{
    width: 960px;
    height: 1024px;
    background-color: rgba(0,0,0,0.40);
    color: white;
    margin: 5px auto;
}
